/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
}

/* style.css */
.jumbotron {
    background-color: #f8f9fa; /* This is a light grey background */
    /* Optional: Add a background image */
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-position: center;
}
